body{
    position: absolute;
    display: flex;
}
div{
    align-self: center;
    font-family: arial;
    background-color: rgb(250, 138, 72);
    margin: 0;
    padding: 0;
    width: 100vh;
    height: 100vh;
    box-sizing: border-box;

}
h1{
    display: block;
    margin-left: 110px;
    font-size: 60px;
    margin: 0;
    padding: 0;
    margin-left: 110px;
    line-height: 73px;
}
h5{
    margin: 0;
    font-size: 24px;
    margin-left: 94px;
    line-height: 30px;
}
#a{
    font-size: 60px;
    margin: 5px;
    margin-left: 110px;  
    margin-top: 60px;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 60px;
}
#b{
    margin-top: 20px;
}
#im1 {
    position: absolute;
    top: 165px;
    left: 170px;
    width: 305px;
}
#im2 {
    position: absolute;
    top: 595px;
    left: 347px;
    width: 200px;
}