body{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);

}
div{
    position: relative;
    font-family: arial;
    background-color: rgb(250, 138, 72);
    min-width: 100vh;
    min-height: 100vh;
    margin:100px;

}
h1{
    display: block;
    font-size: 490%;
    margin: 0;
    padding: 0;
    margin-left: 12.5%;
    line-height: 123%;
}
h5{
    margin: 0;
    font-size: 200%;
    margin-left: 10%;
    line-height: 125%;
}
#a{
    font-size: 490%;
    margin-left: 12.5%;  
    margin-top: 5%;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 100%;
}
#b{
    margin-top: 3%;
}
#im1 {
    position: absolute;
    top: 18.5%;
    left: 18.5%;
    width: 33%;
}
#im2 {
    position: absolute;
    top: 63%;
    left: 37.5%;
    width: 21.5%;
}